CORS_ORIGIN=
DATABASE_URL=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
FACEBOOK_ACCESS_TOKEN=
HOST=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_SECRET=
NODE_ENV=
NOTIFICATION_CRON_DAY_INTERVAL=
NOTIFICATION_CRON_HOUR=
NOTIFICATION_CRON_MINUTE=
NOTIFICATION_RETENTION_DAYS=
PORT=
REFRESH_TOKEN_EXPIRES_IN=
SEED_ADMIN_DISPLAY_NAME=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_USERNAME=
UPLOADS_DIR=
YOUTUBE_API_KEY=
